a{
	text-decoration: none;
}
body{
	font-family: 'Cormorant Garamond', serif;
	width:1440px;
	background:black;
	margin:0 auto;
}
header{
	height:140px;
	background:rgb(13,13,13);
}
	#logo{
		margin:20px 0 0 20px;
		display:block;
		height: 140px;
		width:30%;
	}
	.gallery{
		height:140px;
		width:40%;
	}
	.contacts{
		height:140px;
		width:30%;
	}
	nav{
		height:40px;
	}

main{
	background:rgb(44,44,44);
}