a{
	text-decoration: none;
}
body{
	font-family: 'Cormorant Garamond', serif;
	width:1440px;
	background:black;
	margin:0 auto;
}
header{
	height:140px;
	background:rgb(13,13,13);
}
	#logo{
		display:block;
		height: 140px;
		width:30%;
		float: left;
	}
		#logo img{
			margin:20px 0 0 20px;
		}
	.gallery{
		height:140px;
		width:40%;
		float: left;
		font-size:30px;
		color:rgb(210,210,210);
	}
	.contacts{
		height:140px;
		width:30%;
		float: left;
		color:rgb(210,210,210);
	}
	nav{
		height:40px;
	}

main{
	background:rgb(44,44,44);
}